<app-header></app-header>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Akomba Aventures</span>
            <span class="section-heading-lower">A propos de nous</span>
          </h2>
          <p class="mb-0">
            Notre site est un guide sur Nosy Be pour vous donner le maximum conseils pour préparer vos vacances. Vous y
            trouverez toutes les informations pratiques pour faire votre valise sans rien négliger.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

